[submodule "external/decentralised-scd-registry"]
	path = external/decentralised-scd-registry
	url = git@github.com:GarondEisenfaust/decentralised-scd-registry.git
[submodule "external/powergate"]
	path = external/powergate
	url = git@github.com:textileio/powergate.git
	branch = v2.6.2
[submodule "external/webserver-storage"]
	path = external/webserver-storage
	url = git@github.com:GarondEisenfaust/webserver-storage.git
[submodule "external/decentralised-scd-registry-common"]
	path = external/decentralised-scd-registry-common
	url = git@github.com:GarondEisenfaust/decentralised-scd-registry-common.git
