[submodule "external/decentralised-scd-registry"]
	path = external/decentralised-scd-registry
	url = git@github.com:GarondEisenfaust/decentralised-scd-registry.git
[submodule "external/webserver-storage"]
	path = external/webserver-storage
	url = git@github.com:GarondEisenfaust/webserver-storage.git
[submodule "external/scd-registry-common"]
	path = external/scd-registry-common
	url = git@github.com:GarondEisenfaust/scd-registry-common.git
